@import './reset';
@import './variables/global';
@import './media';


html {
  font-size: 100%;
}

body {
  font: var(--font-m);
  color: var(--font-color);
  font-weight: 500;
  font-size: var(--font-size-m);
}

.app {
  min-height: 100vh;
  background: var(--bg-color);
  max-height: 100vh;
  height: 100vh;
  overflow: hidden;
}

.content-page {
  display: flex;
  gap: calc(var(--content-page-gap) * 2);

  padding: var(--content-page-gap);
}

.page-wrapper {
  flex-grow: 1;
  padding: 1.6em;
  overflow-y: auto;
  max-height: 100vh;


  @media only screen and (min-width: 769px) {
    max-width: calc(100% - var(--sidebar-width));
  }

  &::-webkit-scrollbar {
    width: 3px;
    max-height: 127px;
  }

  &::-webkit-scrollbar-thumb {
    background-color: blue;
    border-radius: 5px;
  }

}
