.pageHeader {
  .title {
    font-weight: 700;
    font-size: 1.3em;
    line-height: 1.6rem;
    margin-bottom: 0.8rem;
  }

  .subtitle {
    line-height: 1.2rem;
    margin-bottom: 1.2rem;
  }
}
