.item {
  gap: 0.75em;
  justify-content: center;
}

.itemButton {
  display: flex;
  align-items: center;
  gap: 3.3em;
  width: 100%;
}

.itemButtonDown {
  transform: rotate(180deg);
}
