.searchPage {
  .addressListWrapper {
    margin-top: 1.6em;
    padding: calc(1.2em - 0.8em) 1.2em;
    box-shadow: var(--component-shadow);
    border-radius: var(--border-radius);
  }

  .messageSearch {
    text-align: center;
    padding-top: 2em;
  }
}


